body {
	/* font-family: Verdana; */
  width: 1000px;
  background-color: #333;
  margin: 0;
}

p {
  color: white;	
}

h1 {
  color: gray;
  font-family: Verdana;
  margin: 15px;
  font-size: 1.0em;
}

.selected {
	border: 1px red solid !important;
}

.arrow {
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	display: none;
}

/*
.arrow:hover {
	background-color: red;
}
*/


.arrowhover {
	display: none;
}

.arrow img {
	width: 35px;
	margin: 0px,
	padding: 0px
	border: 0px;
}

.clear {
	clear: both;
}

.trap {
	background-color: red !important; 
}

.wrapper {
	width: 760px;
	border: 1px solid gray;
}

.gametree {
	border: 1px solid red;
	float: left;
	width: 200px;
	margin: 5px;
}

.movehandle:hover {
	cursor: pointer;
	border: 1px white solid;
	background-color: white !important;
	color: black !important;
}

.movehandle {
	float: left;
	margin: 0;
	padding: 5px;
	width: 35px;
	height: 20px;
	background-color: orange;
	color: white;
	font-size: 0.9em;
	text-align: center;
	border: 1px red solid;
}

.board {
	float: left;
	width: 500px;
	padding: 20px;
	border: 1px white solid;
	background-color: brown;
}

.square {
	width: 50px;
	height: 50px;
	padding: 2px;
	border: 1px #ddd solid;
	background-color: #bbb;
	float: left;
}

.square img {
	width: 100%;
}

.row {
}

#imported_game {
	width: 50px;
}

#import_game {
	width: 100px;
}

.controls {
	width: 200px;
	height: 100px;
	background-color: #ccc;
	margin: 5px;
	color: black;
	float: left;
}

.control img {
	margin: 5px;
}

.control {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	float: left;
	margin: 5px;
	background-color: #aaa555
}

.feedback {
	margin-left: 20px;
}
